

.cartBox{
    position: relative;
    padding:  5px 10px;
    background: #f58c37;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
}

.cartAmount{
    top: -17px;
    right: -15px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    position: absolute;
    background-color: #000;
    color: #fff;
    text-align: center;
}



/*price-quantity*/
.card .price-quantity .buttons{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card{
    cursor: pointer;
    box-shadow: 0px 2px 5px #cccc;
    transition: transform 0.5s;
}
.card:hover{
    transform: translateY(-15px);
}


.fa-star{
    font-size: 20px;
    color: rgba(255, 196, 0);
}

.price-quantity{
    background: #dbdadacc;
    border-radius: 5px;
    padding: 3px;

}



/* bg-main */
.bg-main{
    background-color: #d6d3d3;
}